{
  "env": {
    "browser": true,
    "amd": true
  },

  "globals": {
    "console": true
  },

  "rules": {
    "no-console": 0,
    "no-comma-dangle": 2,
    "no-new-wrappers": 1,
    "no-return-assign": 2,

    "curly": [2, "all"],
    "dot-notation": 2,
    "eqeqeq": 2,
    "no-else-return": 2,
    "no-extend-native": 0,
    "no-floating-decimal": 2,
    "no-redeclare": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "radix": 2,

    "no-constant-condition": 0,

    "strict": 2,

    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,

    "brace-style": ["2", "1tbs"],
    "quotes": [2, "double"],
    "camelcase": 2,
    "consistent-this": [2, "self"],
    "new-cap": 1,
    "no-nested-ternary": 2,
    "no-array-constructor": 2,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "semi": [2, "always"],
    "space-infix-ops": 2,
    "space-in-brackets": [2, "never"],
    "max-nested-callbacks": [2, 2],
    
    // otherwise we get warnings for our var xxx = require() stuff everywhere
    "one-var": 0,

    // custom
    "space-if-else": 2
  }
}