.eau-fields-table {
  display: table;
  table-layout : fixed;
  width: 100%;
  & > * {
    display: table-cell;
  }
  table {
    width: 100%;
    .description {
      width: 100%;
    }
  }
  td, th {
    padding: 0.1em 0.45em 0.1em 0;
    text-align: left;
  }
  .table-spacer {
    width: 30px;
  }
  h2 {
    width: 100%;
  }
  .grey {
    color: lightgrey;
  }
  .align-right {
    text-align: right;
  }
}

.eau-fields-range-box {
  margin-bottom: 20px;
  h3 {
      text-align: center;
      line-height: 0;
      border-bottom: 1px solid rgb(232, 232, 232);
      margin: 1em 0 1.5em;
      a {
        color: grey;
      }
  }
  h3:first-line {
      background-color: white;
  }
  h3:before {
      content: "\a0\a0\a0";
  }
  h3:after {
      content: "\a0\a0\a0";
  }
}